.page-transition {
  animation: fadeSlide 0.6s ease;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
}
